h1 {
  color: #191970;
  font-size: 3em;
  font-family: Arial;
}

#byline {
  font-size: 1.1em;
}

body {
  padding-left: 5%;
  padding-right: 5%;
  background-color: #fffff0;
}

p {
  font-size: 1.3em;
  line-height: 1.3em;
  padding-bottom: 20px;
}

.img-container {
  width: 100%;
}

@media (orientation: portrait) {
  #content {
    width: 100%;
  }
}



img {
    margin: auto;
    display: block;
  }
  
  .cutline {
    font-size: 10px;
    padding-left: 2.5%;
  }

  .nav-button a {
    font-size: 1.2em;
    color: rgb(164, 199, 6);
    text-decoration:none;
    background-color:#ffffff;
    font-weight: bold;
    margin:auto;
  }

  #nav-bar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }