.home {
    margin: auto;
    display: block;
  }

 .clip {
  margin: 20;
 }

.clip-image {
  
  }

  a .clip {
    text-decoration: none;
    color:black
  }

  .clips{
    display:flex;
    flex-direction:row;
  }

  .cutline {
    font-size: 10px;
    padding-left: 2.5%;
  }
  
  h1 {
    color: #000000;
    font-size: 3.4em;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
  }
  
  #byline {
    font-size: 1.1em;
  }
  
  body {
    padding-left: 5%;
    padding-right: 5%;
    background-color: #FFFFFF;
  }
  
  p {
    font-size: 1.3em;
    line-height: 1.3em;
    padding-bottom: 20px;
  }
  
  .img-container {
    width: 100%;
  }
  
  @media (orientation: portrait) {
    #content {
      width: 100%;
    }
    .clips {
      flex-direction:column;
    }
  }
  .nav-item a{
    font-size: 1.5em;
    color: rgb(6, 199, 9);
    text-decoration:none;
    font-weight: bold;
    margin:auto;
  }

  #nav-bar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color:#dc1f1f;
    width: 100%;
  }
  /* comment */