.home {
    margin: auto;
    display: block;
  }

 .clip {
  margin: 20;
  text-decoration: none;
  flex-direction:row;
 }

.clip-image {
  text-align: center;
  }

  a .clip {
    text-decoration: none;
    color:black;
  }

  .clips {
    display:flex;
    flex-direction:row;
  }

  .cutline {
    color: black;
    font-size: 12px;
    font-family: "Georgia";
    padding-left: 0%;
  }

  
  h1 {
    color: black;
    font-size: 2.5em;
    font-family: 'Georgia';
    text-align: center;
  }

  h2 {
    text-align: center;
  }
  
  #byline {
    font-size: 1.1em;
    font-family: 'Georgia';
    color: black;
  }
  
  body {
    padding-left: 5%;
    padding-right: 5%;
    background-color: white;
    font-family: 'georgia'
  }
  
  p {
    color: rgb(54, 53, 53);
    font-size: 1.3em;
    font-family: 'Georgia';
    line-height: 1.3em;
    padding-bottom: 20px;
  }
  
  .img-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.img-container img {
    max-width: 95%;
    height: auto;
}

  
  #photocontainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; /* Ensures proper centering */
  }

  #photocontainer a {
    width: 48%; /* Ensures two items per row */
    max-width: 400px; /* Adjust as needed */
    text-decoration: none;
    color: black;
    display: block;
  }

  .image-box {
    text-align: center;
    background: #f8f8f8;
    padding: 10px;
    border-radius: 10px;
  }

  #photocontainer img {
    width: 100%;
    display: block;
    border-radius: 10px;
  }

  h2, p {
    margin: 5px 0;
  }

  @media (orientation: portrait) {
    #content {
      width: 100%;
    }
    .clips {
      flex-direction:column;
    }
  }